ACS_CONNECTION_STRING="endpoint=https://*.communication.azure.com/;accesskey=<accesskey>"
COGNITIVE_SERVICE_ENDPOINT="https://*.cognitiveservices.azure.com/"
TRANSPORT_URL="wss://*.devtunnels.ms/api/events/transcript"
ACS_PHONE_NUMBER="<phone_number>"
LOCALE="fr-FR"
CALLBACK_URI_HOST="https://*.devtunnels.ms"